/**
 * cms options (main)
 */
.mdw-cms-options {
	margin: 10px 0;
}
.mdw-cms-options .description {
	font-style: italic;
}
.mdw-cms-options input[type=checkbox] {
	margin: 0;
}


/* general
---------- */
.tools_page_mdw-cms label {
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
}
.tools_page_mdw-cms label.required {
	color: #000;
}
.tools_page_mdw-cms label.required:after {
	color: red;
	content: "*";
	padding-left: 3px;
}

/* mb */
.post-type-list-admin .post-types-cbs,
.post-type-list-admin .post-types-cbs div {
	padding-left: 0;
}

.form-table .description {
	float: left;
}
.tools_page_mdw-cms .description-ext {
	font-weight: bold;

	padding-left: 0;
}

.custom-taxonomies .form-row,
.custom-metabox .form-row,
.custom-post-types .form-row {
	margin-bottom: 15px;
}
.custom-post-types .form-row > div {
	padding-left: 0;
}

.add-fields .field-options .type {
	display: none;
	overflow: hidden;
	float: left;
}


.field.options .option-row:nth-child(even) {
	background: #ccc;
}
.field.options .option-row.default {
	display: none;
}

/* errors */
#mdw-cms-name-error {
	color: red;
	font-weight: bold;
}

/* meta box fields
------------------ */
form.custom-metabox .add-fields {
	display: none;
}
form.custom-metabox .add-fields.visible {
	display: block;
}
.add-fields .fields-wrapper .ui-icon-arrowthick-2-n-s {
	float: left;
}
.add-fields .fields-wrapper.default {
	display: none;
}
.wp-core-ui .button-primary.remove-field {
	background: #d64e07;
	border-color: #b84609;
}
.wp-core-ui .button-primary.add-field {
	background: #9ebaa0;
	border-color: #90ab92;
}
.add-fields .fields-wrapper label,
.add-fields .fields-wrapper .ui-icon  {
	margin-top: 3px;
}
.add-fields .fields-wrapper .field-options {
	margin-top: 5px;
	margin-bottom: 5px;
}
.add-fields .fields-wrapper .field-options label {
	margin-top: -2px;
	padding-right: 5px;
}
.add-fields .fields-wrapper .description {
	margin-bottom: 20px;
}
.add-fields .fields-wrapper .description .fd {
	padding: 0;
	margin-left: -5px;
}
.add-fields .fields-wrapper .description .field_description {
	width: 101%;
}
#add-field-btn {
	margin-left: 10px;
}

/**/
p.submit > #clear-files {
	margin-left: 15px;
}

#mdwcms-updater-notices > .primary {
	display: none;
}

/* metabox display
------------------ */
.mdw-cms-meta-box .type-textarea button.duplicate,
.mdw-cms-meta-box .type-textarea button.delete {
	float: right;
	margin-right: 7%;
}
.mdw-cms-meta-box .field_description {
	font-style: italic;
	margin-left: 135px;
	padding: 3px 0;
}
.mdw-cms-meta-box .mdw-cms-meta-box-thumb {
	clear: left;
	text-align: center;
	padding: 5px 0;
}
