/* general
---------- */
.tools_page_mdw-cms label.required {
	color: #000;
}
.tools_page_mdw-cms label.required:after {
	color: red;
	content: "*";
	padding-left: 3px;
}
.tools_page_mdw-cms form .description {
	margin: 2px 0 5px;
  color: #666;
  font-size: 14px;
}
.tools_page_mdw-cms form .description.right {
	margin-left: 5px;
}
.mdw-cms-edit-delete-list .cpt {
	display: inline-block;
	width: 75px;
}
.mdw-cms-edit-delete-list .edit,
.mdw-cms-edit-delete-list .delete {
	margin-left: 10px;
}

/**
 * Post Types
 */
.custom-post-types {
	width: 75%;
	float: left;
}
.custom-post-types-list {
	width: 25%;
	float: left;
}

/* errors */
#mdw-cms-name-error,
.mdw-cms-name-error {
	color: red;
	font-weight: bold;
}
.custom-metabox .mdw-cms-name-error {
	clear: both;
	padding: 5px 0;
}

/* meta box fields
------------------ */
form.custom-metabox .add-fields {
}
form.custom-metabox .add-fields.visible {
}
.add-fields .fields-wrapper {
	margin-bottom: 20px;
}
.add-fields .fields-wrapper .fields-wrapper-border {
}
.add-fields .fields-wrapper .ui-icon-arrowthick-2-n-s {
	float: left;
}
.wp-core-ui .button-primary.remove-field {
	background: #d64e07;
	border-color: #b84609;
}
.wp-core-ui .button-primary.add-field {
	background: #9ebaa0;
	border-color: #90ab92;
}
.add-fields .fields-wrapper label,
.add-fields .fields-wrapper .ui-icon  {
	margin-top: 3px;
}
.add-fields .fields-wrapper .field-options {
	margin-top: 5px;
/* 	margin-bottom: 5px; */
}
.add-fields .fields-wrapper .field-options .field-repeatable-label label {
	margin-top: -2px;
	padding-right: 5px;
}
.add-fields .fields-wrapper .description .fd {
}
.add-fields .fields-wrapper .description .field_description {
	/* width: 101%; */
}
.add-fields .fields-wrapper .description,
.add-fields .fields-wrapper .field-id,
.add-fields .fields-wrapper .remove,
.add-fields .fields-wrapper .field-label {
	margin-top: 5px;
}
.add-fields .fields-wrapper .field-id .field-id-id {
}
#add-field-btn {
	margin-left: 10px;
}
/* field options */
.field.options .option-row:nth-child(odd) {
	background: #e1e1e1;
}
.field.options .option-row.default {
	display: none;
}
.field.options label {
	margin-bottom: 5px;
}
.field.options .option-row {
	margin: 5px 0;
	padding: 5px;
}
.field.options .option-row > input {
	margin: 0 10px 0 5px;
}


/**/
p.submit > #clear-files {
	margin-left: 15px;
}

#mdwcms-updater-notices > .primary {
	display: none;
}

/**
 * AJAX loader
 */
#ajax-loader {
	background-color: rgba(255, 255, 255, 0.80);
	width: 105%;
	margin-left: -20px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#ajax-image {
	position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
	background-image: url('/wp-admin/images/spinner-2x.gif');
	width: 40px;
	height: 40px;
}