.pickle-cms-meta-box .meta-row {
	margin: 5px 0;
	overflow: hidden;
}
.pickle-cms-meta-box .meta-row label	{
	font-weight: bold;
	display: inline-block;
	min-width: 125px;
	width: auto;
	margin-right: 10px;
	vertical-align: top;
	float: left;
}
.pickle-cms-meta-box .meta-row input[type=checkbox] {
	margin: 0;
}
.uploader.button {
	width: 68px;
}
.uploader-input {
/* 	margin-left: 85px; */
}
.pickle-cms-meta-box .meta-row .umb-media-thumb {
	clear: left;
}
.pickle-cms-meta-box .textarea {
	width: 75%;
	height: 100px;
}
.pickle-cms-meta-box .url {
	width: 60%;
}
.pickle-cms-meta-box .colorPicker {
	width: 12%;
}

.pickle-cms-meta-box .timepicker {
	width: 10%;
}
.pickle-cms-meta-box .datepicker {
	width: 12%;
}

.pickle-cms-meta-box .meta-row.clone .ajaxmb-field-btn.duplicate {
	display: none;
}
.pickle-cms-meta-box .uploader.button,
.pickle-cms-meta-box .ajaxmb-field-btn {
	margin-left: 10px;
}
/**
 * address meta field
 */
.pickle-cms-meta-box .address-wrap {
	overflow: hidden;
	float: left;
	width: 610px;
}
.pickle-cms-meta-box .address-wrap > div {
	margin-bottom: 5px;
}
.pickle-cms-meta-box  .address-wrap > div > span {
	font-weight: bold;
	margin-right: 5px;
}
.pickle-cms-meta-box .type-address .ajaxmb-field-btn.duplicate {
	float: right;
}
.pickle-cms-meta-box .address-wrap .line-1 > input,
.pickle-cms-meta-box .address-wrap .line-2 > input {
	width: 300px;
}
.pickle-cms-meta-box .address-wrap .city,
.pickle-cms-meta-box .address-wrap .state,
.pickle-cms-meta-box .address-wrap .country,
.pickle-cms-meta-box .address-wrap .zip {
	float: left;
	margin-right: 15px;
}
.pickle-cms-meta-box .address-wrap .zip {
	clear: left;
}
.pickle-cms-meta-box .address-wrap .zip > input {
	width: 80px;
}

/**
 * gallery
 */
.pickle-cms-meta-box .gallery-wrap {
	overflow: hidden;
	width: 610px;
}
.pickle-cms-meta-box .gallery-wrap #pickle-cms-gallery {
	padding-bottom: 10px;
}
.pickle-cms-meta-box .gallery-wrap #pickle-cms-gallery img {
	margin-right: 8px;
}
.gallery-uploader.button {
	width: 91px;
}
.gallery-remove.button,
.gallery-remove.button:focus {
	width: 117px;
	background: #d64e07;
  border-color: #b84609;
  color: #fff;
  box-shadow: none;
  margin-left: 15px;
}
.gallery-remove.button:hover,
.gallery-remove.button:active {
	background: #b1470e;
	border-color: #b84609;
	color: #fff;
}

/**
 * wp editor
 */
.pickle-cms-meta-box .wp-editor-wrap {
	clear: both;
	padding-top: 10px;
}

/** jquery validator (custom)
-----------------------------*/
.jq-validator {
	margin-left: 2%;
}
.jq-validator.error {
	color: red;
	font-weight: bold;
}
